{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <h3 class="text-dark mb-4" style="text-align:left;float:left;">Bonjour </h3>
    <!-- <h3 id="TraName" style="text-align:right;float:right;" name="name" >{{ request.user.username }}</h3>-->

    <hr style="clear:both;" />
    <div class="row mb-3">
        <div class="col-lg-8">
            <h3 style="color: red;">{{message}}</h3>
            <div class="row">
                <div class="col-lg-12 offset-lg-3">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Liste Inventaires&nbsp;</p>
                        </div>
                        <div class="card-body">
                            <form id="addinv" action="">

                                <div class="form-row">
                                    <div class="col">

                                        <div class="form-group"><strong>Réference</strong></label>

                                            <input class="form-control" type="text" id="réf" placeholder=""
                                                name="Reference">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group"><strong>Nombre de Bac</strong><br></label>
                                            <input class="form-control" id="nbinv" type="text" placeholder=""
                                                name="Nombre_De_Bac">
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-primary btn-sm" id="create" name="ajouter_inv"
                                    type="submit">Ajouter</button>
                                <div>
                                    <h3 id="TraName" style="text-align:right;float:right;" name="name">{{ request.user.username }}</h3>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div id="result" class="card-body">

        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="InvTable">
                <thead>
                    <tr>
                        <th>Statut</th>
                        <th>Réference</th>
                        <th>Nombre de Bac</th>
                        <th>Zone de KIT</th>
                        <th>SM CSC</th>
                        <th>Date</th>
                        <th>heure</th>
                        <th>NOM</th>
                    </tr>
                </thead>
                {% if invs %}
                {% for inv in invs %}
                <tr id="inv-{{inv.id}}">
                    <td class="ms-vb2"><button id="btn1" class="btn btn-primary" type="button" value="{{inv.statut}}" ></button></td>
                    <td class="réf invData" name="Reference">{{inv.Reference}}</td>
                    <td class="nbrbac invData" name="Nombre_De_Bac">{{inv.Nombre_De_Bac}}</td>

                    <td class="zkit invData" id="zkit" name="Zone_De_Kit">{{inv.Zone_De_Kit}}</td>
                    <td class="smcsc invData" id="smcsc" name="SM_Csc">{{inv.SM_Csc}}</td>
                    <td class="date invData" id="date" name="Date">{{inv.Date}}</td>
                    <td class="heure invData" id="heure" name="heure">{{inv.heure}}</td>
                    <td class="name invData" id="name" name="name">{{inv.name}}</td>


                    <!--<td><button class="btn btn-primary" onClick="deleteUser({{inv.id}})" style="background: rgb(252,2,2);">Supprimer</button></td> -->

                </tr>
                {% endfor %}
                {% else %}
                <h2 style="color: red;"> NO Data </h2>
                {% endif %}

            </table>
        </div>

    </div>
</div>

{% endblock %}
{% block javascript %}
<script>
    $("form#addinv").submit(function () {
        var today = new Date();
        var d = new Date();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = dd + '/' + mm + '/' + yyyy;
        var réf_inv_input = $('input[name="Reference"]').val().trim();
        var nbr_bac_input = $('input[name="Nombre_De_Bac"]').val().trim();

        var nam_input = $('#TraName').text();

        var zkit_input = $('#zkit').val().trim();
        var smcsc_input = $('#smcsc').val().trim();
        var date_input = today;

        var heure_input = d.toLocaleTimeString('it-IT');

        if (réf_inv_input && nbr_bac_input) {
            $.ajax({
                //source: "ajax/crud/create",
                url: '{% url "GA_UEP:create" %}',
                data: {
                    'Reference': réf_inv_input,
                    'Nombre_De_Bac': nbr_bac_input,
                    'name': nam_input,
                    'username': nam_input,

                    'Zone_De_Kit': zkit_input,
                    'SM_Csc': smcsc_input,
                    'Date': date_input,
                    'heure': heure_input,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.inv) {
                        appendToInvTable(data.inv)
                    }
                }
            });
        } else {
            alert("All fields must have a valide value.");
        }
        $("form#addinv").trigger("reset");
        return false;
    });

    //add row------------------------------------------------------------------------------------------------
    function appendToInvTable(inv) {
        $("#InvTable > tbody:last-child").append(`
    <tr id="inv-${inv.id}">
      <td class="ms-vb2" ><button class="btn btn-primary" type="button" value="{{inv.statut}}"></button></td>
      <td class="réf invData" name="Reference">${inv.Reference}</td>
      '<td class="nbrbac invData" name="Nombre_De_Bac">${inv.Nombre_De_Bac}</td>

      '<td class="zkit invData" id="zkit" name="Zone_De_Kit">${inv.Zone_De_Kit}</td>
       '<td class="smcsc invData" id="smcsc" name="SM_Csc">${inv.SM_Csc}</td>
        '<td class="date invData" id="date" name="Date">${inv.Date}</td>
        '<td class="heure invData" id="heure" name="heure">${inv.heure}</td>
        '<td class="name invData" id="name" name="name">${inv.name}</td>   
    </tr>
    `);

    }
    // '<td><button class="btn btn-primary" type="button" onClick="deleteUser(${inv.id})" style="background: rgb(252,2,2);">Supprimer</button></td>

    // Delete row---------------------------------------------------------------------------------------
    function deleteUser(id) {
        var action = confirm("Are you sure you want to delete this user?");
        if (action != false) {
            $.ajax({
                url: '{% url "GA_UEP:delete" %}',
                data: {
                    'id': id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        $("#InvTable #inv-" + id).remove();
                    }
                }
            });
        }
    }

$(document).ready(function () {
        $('td.ms-vb2').each(function (index) {
            var c = $(this).find('#btn1').val()
            if (c === 'Livré' || c === 'Train' || c === 'A_Remorque' || c === 'A_Tranche') {
                $(this).find('#btn1').css("background-color", "lawngreen");
            }
            if (c === 'Non_T' || c === 'Alerte' || c === 'A_Débord') {
                $(this).find('#btn1').css("background-color", "darkorange");
            }
            
            if (c === 'FLC') {
                $(this).find('#btn1').css("background-color", "red");
            }
        });
});




</script>
{% endblock javascript %}