{% extends "layout.html" %}
{% load static %}

{% block body %}
<style>

</style>
<!-- KPI of crossdock ------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">

    <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Cross Dock</h3>

        
        <select name="shifts" id="shifts" class="selectS" style="border-radius:5px;" onchange="" >
            
            <option data-Sh="SHIFTS" value="SHIFTS">SHIFTS</option>
            <option data-Sh="MATIN" value="MATIN">MATIN</option>
            <option data-Sh="SOIR" value="SOIR">SOIR</option>
            <option data-Sh="NUIT" value="NUIT">NUIT</option>
           
        </select>
        
        <select name="groupes" id="groupes" class="selectG" style="border-radius:5px;" onchange="">
            <option data-Gr="" value="GROUPES">GROUPES</option>
            <option data-Gr="A" value="A">A</option>
            <option data-Gr="B" value="B">B</option>
            <option data-Gr="C" value="C">C</option>
        </select>
    <!-- <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a> -->
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{% url 'GA_UEP:cross_dock_HSearch' %}"><i class="fas fa-book-open fa-sm text-white-50"></i>&nbsp;Historique</a>
    </div>

<div class="row justify-content-md-center">
        <div class="alert alert-danger" role="alert">
            Totales des Alertes : {{TA}}
        </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span> <h6>CrossDock</h6> </span></div>
                                
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="text-dark  h6 mb-0 mr-3"><span>Alertes CD:{{T_A_NT}}</span></div>
                                <div class="text-dark  h6 mb-0 mr-3"><span
                                        style="color: lawngreen;">Train: {{Train}}</span></div>
                            </div>
                            <div class="col">
    
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-compress fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1  "><span> <h6>Débord</h6> </span></div> 
                                
                        <div class="text-dark  h6 mb-0"><span>Alertes Débord {{Adebord}}</span></div>
                        <div class="text-dark  h6 mb-0"><span style="color:chartreuse;">Livré: {{Livré}}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-store fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span> <h6>Anticipations</h6> </span></div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="text-dark  h6 mb-0 mr-3"><span>A_Tranche: {{AT}}</span></div>
                                <div class="text-dark  h6 mb-0 mr-3"><span style="color: fuchsia;">A_Remorque: {{AR}}</span>
                                </div>
                            </div>
                            <div class="col">
    
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs  mb-1"><span><h6>Alertes</h6></span></div>
                               
                        <div class="text-dark  h6 mb-0"><span>FLC_T:{{FLC_T}} </span></div>
                        <div class="text-dark  h6 mb-0"><span style="color: red;">FLC:{{FLC}}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-hand-stop-o fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>

    

    
    </div>
</div>
    
<!-- end of KPI of CrossDock ------------------------------------------------------------------------------------------------------------------->

                <div class="container-fluid" >
                    

                        <div class="card">
                            <div id="result" class="card-body">
                            <input class="form-control" id="myInput" type="text" placeholder="Chercher..">
                            
                                <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                    <table class="table table-sm table-hover  " id="InvTable" style="color: #33313b;"  >
                                        <thead >
                                            <tr>
                                                <th style="text-align: center;">Statut</th>
                                                <th style="text-align: center;">Réference</th>
                                                <th style="text-align: center;">Nombre de Bac</th>
                                                <th style="text-align: center;">Zone de KIT</th>
                                                <th style="text-align: center;">Qte UC</th>
                                                <th style="text-align: center;">SM CSC</th>
                                                <th style="text-align: center;">Code Condi</th>
                                                <th style="text-align: center;">Date</th>
                                                <th style="text-align: center;">heure</th>
                                                <th style="text-align: center;">Moniteur</th>
                                                <th style="text-align: center;">HFA</th>
                                                <th style="text-align: center;">Commenataire</th>
                                            </tr>
                                        </thead>
                                        {% if alertes  %}
                                        {% for alert in alertes %}

                                        
                                        <tbody id="myTable">

                                          
                                        <tr id="alert-{{alert.id}} ">
                                            
                                            <td class="ms-vb2"><button class="btn btn-info form-control ms-vb2" id="btn1" onClick="editUser({{alert.id}})" data-toggle="modal" data-target="#myModal" >{{alert.statut}}</button></td>
                                                    
                                            <td class="réf invData ms-vb2"  id="réfi" name="Reference" style="text-align: center;">{{alert.Reference}}</td>
                                            <td class="nbrbac invData ms-vb2" id="nbci" name="Nombre_De_Bac" style="text-align: center;">{{alert.Nombre_De_Bac}}</td>                                            
                                            <td class="zkit invData ms-vb2" id="zkit" name="Zone_De_Kit" style="text-align: center;">{{alert.Zone_De_Kit}}</td>
                                            <td class="smcsc invData ms-vb2 " id="smcsc" name="qte UC" style="text-align: center;">{{alert.QTe_Uc}}</td>
                                            <td class="smcsc invData ms-vb2" id="smcsc" name="SM_Csc" style="text-align: center;">{{alert.SM_Csc}}</td>

                                            <td class="smcsc invData ms-vb2 " id="smcsc" name="code_condi" style="text-align: center;">{{alert.Code_condi}}</td>
                                            


                                            <td class="date invData ms-vb2 " id="date" name="Date" style="text-align: center;">{{alert.Date}}</td>
                                            <td class="heure invData ms-vb2 " id="heure" name="heure" style="text-align: center;">{{alert.heure}}</td>
                                            <td class="moniteur invData ms-vb2 " id="moniteur" name="moniteur" style="text-align: center;">{{alert.Moniteur}}</td>
                                            <td class="moniteur invData ms-vb2 " id="HFA" name="HFA" style="text-align: center;">{{alert.HFA}}</td>
                                            <td class="moniteur invData ms-vb2 " id="Commenataire" name="Commenataire" style="text-align: center;">{{alert.Commenataire}}</td>
                                            
                                                    

                        
                        
                                            <!--<td><button class="btn btn-primary" onClick="deleteUser({{inv.id}})" style="background: rgb(252,2,2);">Supprimer</button></td> -->
                        
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        {% else %}
                                        <h3 style="color: crimson; text-align: center; "> Aucune Alertes Trouvé </h3>
                                        {% endif %}

                                    </table>
                                </div>

                        
                            </div>
                        </div>
                </div>
            </div>
<!-- modals pour changer le statut  ----------------------------------------------------------------------------------------------------------->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Alertes</h4>

                            <h4  id="m"></h4>

                            
                            

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        </div>
                        <form id="updateAlertes" action="">
                            
                            <div class="modal-body">
                                <input class="form-control" id="form-id" type="hidden" name="formId"/>
                                
                                <div>
                                    
                                    <h5 id="grpr" style=" text-align:right;float:right; color: rgb(0, 193, 252);"></h5>
        
                                    <h5 id="shfr" style=" color: rgb(0, 193, 252);"></h5>
                                    
                                   
                                </div>
                                <label for="statut">Statut: </label>

                                <select name="formStatut" id="form-statut" class="custom-select custom-select-sm" onchange="change1()" >
                                    <optgroup label="">
                                        
                                        <option value=""></option>

                                        <option value="Train">Sortie Train</option>
                                        <option value="Alerte_DEB">Alerte_DEB</option>
                                        <option value="A_Tranche" id="AT">Anticipation par Tranche</option>
                                        <option value="A_Remorque">Anticipation par Remorque</option>
                                        <option value="FLC">FLC</option>
                                        <!--
                                        <option value="Livré">Livré</option>
                                        <option value="Alerte_CK">Alerte_CK</option>
                                        <option value="A_Débord">A_Débord</option>
                                        -->
                                    
                                    </optgroup>
                                </select>
                                <label for="comment">Commentaire:</label>
                                
                                <input class="form-control" id="form-comment" type="text" name="formComment"   />
                                
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
<!-- end of modals pour changer le statut  ------------------------------------------------------------------------------------------------------>



{% endblock %}

{% block javascript %}
<script>
   

    // Create Django Ajax Call
$("form#updateAlertes").submit(function () {
        var shiftinp = document.getElementById("shifts").value;
        var grpinp = document.getElementById("groupes").value;
        var idInput = $('input[name="formId"]').val().trim();
        var Statutinp = document.getElementById("form-statut").value;
        var commenataireInput = $('input[name="formComment"]').val().trim();
        //var hfa = d.toLocaleTimeString('it-IT');
        if (Statutinp  || commenataireInput) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "GA_UEP:update_CD" %}',
                data: {
                    'id': idInput,
                    'statut': Statutinp, 
                    'Commenataire': commenataireInput,
                    'Shifts': shiftinp,
                    'Groupes': grpinp,  
                },
                dataType: 'json',
                success: function (data) {
                    if(data.alt){
                        alert("L'Alerte est traitée");
                        location.reload(true);
                    }
                    },
            });
        } else {
            alert("Tous Les champs doivent avoir une valeur Valide.");
        }
       $('form#updateAlertes').trigger("reset");
        $('#myModal').modal('hide');
        return false;
        location.reload(true);
    });

    
    
function editUser(id) {
    var grp = $("#groupes").children("option:selected").val();
    var shf = $("#shifts").children("option:selected").val();
    $('#shfr').text(shf);
    $('#grpr').text(grp);
        if (id) {
            //
            tr_id = "#alert-" + id;
            $('#form-id').val(id);

        }
   
        /*var rowId = event.target.parentNode.parentNode.id;
        var data = document.getElementById(rowId).querySelectorAll(".ms-vb2");

        var k = data[1].innerHTML;
        if(k==='None' || k==='Alerte_DEB' || k=='A_Débord' ){
            $('#form-statut option[value="A_Tranche"]').attr('disabled', 'disabled');
            $('#form-statut option[value="A_Remorque"]').attr('disabled', 'disabled');
            $('#form-statut option[value="FLC"]').attr('disabled', 'disabled');

            $('#form-statut option[value="Train"]').attr('disabled', false);
            $('#form-statut option[value="Alerte_DEB"]').attr('disabled', false);
        }
        if(k==='Non_T'){
            $('#form-statut option[value="Train"]').attr('disabled', 'disabled');
            $('#form-statut option[value="Alerte_DEB"]').attr('disabled', 'disabled');
            
            $('#form-statut option[value="A_Tranche"]').attr('disabled', false);
            $('#form-statut option[value="A_Remorque"]').attr('disabled', false);
            $('#form-statut option[value="FLC"]').attr('disabled', false);
        }
        if(k==='FLC'){
            $('#form-statut option[value="Train"]').attr('disabled', 'disabled');
            $('#form-statut option[value="Alerte_DEB"]').attr('disabled', 'disabled');
            $('#form-statut option[value="A_Tranche"]').attr('disabled', 'disabled');
            $('#form-statut option[value="A_Remorque"]').attr('disabled', 'disabled');
            $('#form-statut option[value="FLC"]').attr('disabled', 'disabled');
        }*/

        
    
        
    }

    

//kepp the selected option slect shifts and groupes--------------------------------------------------------------------
    $('#groupes,#shifts').change(function (event) {
            var selectedcategory = $("#groupes").children("option:selected").val();
            var selectedcategory2 = $("#shifts").children("option:selected").val();
            localStorage.setItem("itemName", selectedcategory);
            localStorage.setItem("itemName2", selectedcategory2);
        });

        $('#groupes').find('option[value=' + localStorage.getItem('itemName') + ']').attr('selected', 'selected');
        $('#shifts').find('option[value=' + localStorage.getItem('itemName2') + ']').attr('selected', 'selected');
//fin kepp the selected option slect shifts and groupes-----------------------------------------------------------------
   $(document).ready(function () {
        $('td.ms-vb2').each(function (index) {
            var c = $(this).find('#btn1').text() 
            if (c === 'Livré'|| c=== 'Train') {
                $(this).find('#btn1').css("background-color", "lawngreen");
                $(this).find('#btn1').css("color", "#33313b");
            }
            if (c === 'Alerte_CK') {
                $(this).find('#btn1').css("background-color", "darkorange");
                $(this).find('#btn1').css("color", "#33313b");
            }
            if ( c=== 'Alerte_DEB') {
                $(this).find('#btn1').css("background-color", "#f7fd04");
                $(this).find('#btn1').css("color", "#33313b");
            }
            if ( c=== 'None') {
                $(this).find('#btn1').css("color", "#33313b");
            }
            if (  c==='A_Débord') {
                $(this).find('#btn1').css("background-color", "#04009a");
            }
            if (c === 'A_Remorque'|| c=== 'A_Tranche') {
                $(this).find('#btn1').css("background-color", "fuchsia");
                $(this).find('#btn1').css("color", "#33313b");
            }
            if (c === 'FLC') {
                $(this).find('#btn1').css("background-color", "red");
                $(this).find('#btn1').css("color", "#33313b");
            }
            if (c === 'FLC_T') {
                $(this).find('#btn1').css("background-color", "lightcoral");
                $(this).find('#btn1').css("color", "#33313b");
            }
        });
    });

//filter table ------------------------------------------------------------------------------
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    //refresh the page when no click and no activity 
    (function (seconds) {
        var refresh,
            intvrefresh = function () {
                clearInterval(refresh);
                refresh = setTimeout(function () {
                    location.href = location.href;
                }, seconds * 1000);
            };

        $(document).on('keypress click', function () { intvrefresh() });
        intvrefresh();

    }(60));

//permissions
      $(document).ready(function () {
            var supername = $("#supername").text();


            if (supername === 'Youssef' || supername === 'khalid') {
                console.log(supername)

            }
            else {
                $('#dasha').addClass('disabled');

            }


        });


</script>

{% endblock javascript %}