{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">

<h3 class="text-dark mb-0">TABLEAU DE BORD</h3>

<!--KPI Gestion de Stock-->

<!--Les Gauges-->
<div class="row">
    <div class="col-3 " >
            <div >
                <div class="chart-area" id="gauge1"></div>
            </div>
    </div>
    <div class="col-3 ">
        <div>
            <div class="chart-area" id="gauge2"></div>
        </div>
    </div>
    
    <div class="col-6  ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">ALERTES</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="DOA"></div>
            </div>
        </div>
    </div>
        
    
    </div>
    
    
        
            
        

    

<!--Doughnut et linear chart-->
<div class="row">
    <div class="col-7">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Zones de Kits</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="rose"></div>
            </div>
        </div>
    </div>


    <div class="col-5">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Suivi des Alertes</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="SDA"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Evolution des Alertes</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="EVDA"></div>
            </div>

        </div>
    </div>

    <div class="col-6 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">TOP 10 des Alertes</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="TOP10"></div>
            </div>
    
        </div>
    </div>
</div>

<!-- -->


<!--KPI Magasin Débord -->

<div class="row">
    <div class="col-12 col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Entrées/Sorties Magasin Débord</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="ES7" ></div>
            </div>
        </div>

    </div>
    <div class="col-6 col-md-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary font-weight-bold m-0">Magasin Débord</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">LES ENTRÉES /J<span class="float-right">20</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                            style="width: 20%;"><span class="sr-only">20</span></div>
                    </div>
                    <h4 class="small font-weight-bold">LES SORTIES /J<span class="float-right">40</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                            style="width: 40%;"><span class="sr-only">40%</span></div>
                    </div>
                    <h4 class="small font-weight-bold">Nombre de Bac<span class="float-right">60</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100000"
                            style="width: 60%;"><span class="sr-only">60</span></div>
                    </div>

                    <h4 class="small font-weight-bold">Respect De FIFO<span class="float-right">90</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100000"
                            style="width: 90%;"><span class="sr-only">90</span></div>
                    </div>
        
                </div>
            </div>
    </div>
</div>
<!-- BAR CHART nombre de bac/j-->
<div class="row">
    <div class="col-12 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Nombre de Bac journaliére</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="BACJ"></div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">TOP 5 Entrées</h6>
            </div>
                <div class="card-body">
                    <div class="chart-area"  id="top5E"></div>
                </div>
            
        </div>
    </div>
    
    <div class="col-6 ">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">TOP 5 Sorties</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area" id="top5S"></div>
                </div>
        
            
            </div>
    </div>
    
</div>


<!--fin KPI Magasin Débord -->








{% endblock %}

{% block javascript %}
<script src="{% static 'js/echarts.js'%}" charset="utf-8"></script>

  <script  type="text/javascript">
// les entrées et les sorties magasin Débord
    var chartDom = document.getElementById('ES7');
    var myChart = echarts.init(chartDom);
    var option;
    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Entrée', 'Sortie']
        },
         grid: {
            left: '3%',
            right: '7%',
            bottom: '5%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['05/05/2021', '06/05/2021', '07/05/2021', '08/05/2021', '09/05/2021', '10/05/2021', '11/05/2021']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: 'Entrée',
                color:"lawngreen",
                type: 'line',
                data: [120, 132, 101, 134, 90, 330, 210]
            },
            {
                name: 'Sortie',
                color: "crimson",
                type: 'line',
                data: [220, 182, 191, 234, 290, 330, 410]
            },
        ]
    };


//top5 entrees
    var chartDom2 = document.getElementById('top5E');
    var myChart2 = echarts.init(chartDom2);
    var option2;

    option2 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'value'
        }

        ],
        yAxis: [
            {
                type: 'category',
                data: ['9823196780', '96343100XX', '98029783VL', '9659224180', '98262055SM'],


                axisTick: {
                    alignWithLabel: true
                }
            }

        ],
        series: [

            {
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                color: 'lawngreen',
                name: 'Alertes',
                type: 'bar',
                barWidth: '60%',
                data: [10, 52, 200, 334, 390]
            }
        ]
    };
//top5 sorties
    var chartDom3 = document.getElementById('top5S');
    var myChart3 = echarts.init(chartDom3);
    var option3;

    option3 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'value'
        }

        ],
        yAxis: [
            {
                type: 'category',
                data: ['9823196780', '96343100XX', '98029783VL', '9659224180', '98262055SM'],


                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        series: [

            {
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                color: '#ef5350',
                name: 'Alertes',
                type: 'bar',
                barWidth: '60%',
                data: [10, 52, 200, 334, 390]
            }
        ]
    };
//les gauges
function createGauje(divId, datai,name,colorf,max, formatter) {
        var gaujeDom = document.getElementById(divId);
        var mygauje = echarts.init(gaujeDom)
        var option4;
        option4 = {
             series: [{
                type: 'gauge',
                min:0,
                max:max,
                pointer: {
                     itemStyle: {
                         color: 'auto'
                     }
                 },
                progress: {
                    show: false,
                    width: 18
                },
                axisLine: {
                    lineStyle: {
                        width: 18,
                        color: colorf
                    }
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    length: 10,
                    lineStyle: {
                    width: 1,
                    }
                },
                axisLabel: {
                    distance: 19,
                    fontSize: 10
                },
                
                title:{
                    show:true,
                    offsetCenter:[0,'-130%'],
                    fontSize: 15,
                    color:"#4e73df"
                },
                detail: {
                    valueAnimation: true,
                    fontSize: 28,
                    offsetCenter: [0, '80%'],
                    formatter: formatter ,
                    color:'auto'
                },
                data: [{
                    value: datai,
                    name:name,
                    fontSize: 28,
                }]
            }]
        }
        mygauje.setOption(option4);
        window.addEventListener('resize', function () {         
        mygauje.resize();
    });
    };
createGauje('gauge1', ['{{TAlertes}}'],"Traitement des Alertes", [[0.3, '#1cc88a'], [0.5, '#f6c23e'], [1, '#e74a3b']],120, '{value} min');
createGauje('gauge2', [75], "Remontée d'Alerte", [ [0.8, '#e74a3b'],[0.9, '#f6c23e'],[1, '#1cc88a']],100, '{value} %');


//Nombre de Bac journaliere 
    var chartNBJ = document.getElementById('BACJ');
    var myChartNB = echarts.init(chartNBJ);
    var option;

    optionNBJ = {
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
         tooltip: {
            trigger: 'axis',
            axisPointer: {            
                type: 'shadow'       
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: ['05/05/2021', '06/05/2021', '07/05/2021', '08/05/2021', '09/05/2021', '10/05/2021', '11/05/2021', '12/05/2021', '13/05/2021', '14/05/2021', '15/05/2021', '16/05/2021', '17/05/2021', '18/05/2021']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            color:'orange',
            data: [120, 200, 150, 80, 70, 110, 130,120, 200, 150, 80, 70, 110, 130],
            type: 'line'
        }]
    };

//Doughnut Alertes 
    var chartDoun = document.getElementById('DOA');
    var myChartDoun = echarts.init(chartDoun);
    var option;
    optionDOU = {
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            top: 'bottom',
            left: 'center'
        },
        series: [
            {
                center: ['50%', '40%'],
                name: 'Alertes',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 2
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '15',
                        fontWeight: 'bold'
                    }
                },
                data: [
                    { value: "{{alertCK}}", name: 'Alerttes CK' },
                    { value:  "{{Train}}", name: 'Sortie Train' },
                    { value:  "{{alertDébord}}", name: 'Alertes Débord' },
                    { value:  "{{FLC}}", name: 'FLC' },
                    { value:  "{{anticipations}}", name: 'Anticipations' },
                    { value:  "{{Livré}}", name: 'Livré' }
                ],
                labelLine: {
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                },
            }
        ]
    };
//Suivi linear Alertes 
    $(function () {
        $.ajax({
            url: '{% url "GA_UEP:suiviAlertes" %}',
            success: function (data) {
                fill(data.dates, data.valeures)
            }
        });
    });
function fill(dates, vals) {
            var chartLA = document.getElementById('SDA');
            var myChartLA = echarts.init(chartLA);
            var optionLA;
            optionLA = {
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                color: 'crimson',
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: dates,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: 'Alertes',
                        type: 'bar',
                        barWidth: '60%',
                        data: vals,
                    }
                ]
            };
            myChartLA.setOption(optionLA);
            myChartLA.resize();
        };

//Evolution Des Alertes
    $(function () {
            $.ajax({
                url: '{% url "GA_UEP:evolutionAlertes" %}',
                success: function (data) {
                    fill1(data.dates, data.antici, data.livré, data.train, data.flct)

                }
            });
        });
        function fill1(dates, antici, livré, train, flct) {
            var chartEVDA = document.getElementById('EVDA');
            var myChartEVDA = echarts.init(chartEVDA);
            var optionEVDA;

            optionEVDA = {
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['Anticipations', 'Livré', 'Sortie Train', 'FLC_T']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: dates,

                },
                series: [
                    {
                        name: 'Anticipations',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: antici
                    },
                    {
                        name: 'Sortie Train',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: train
                    },
                    {
                        name: 'Livré',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: livré
                    },
                    {
                        name: 'FLC_T',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: flct
                    },



                ]
            };
            myChartEVDA.setOption(optionEVDA);

            myChartEVDA.resize();
        };
//Top 10 des Alertes:
     $(function () {
            $.ajax({
                url: '{% url "GA_UEP:Top10Alertes" %}',
                success: function (data) {
                    fill2(data.réf, data.fhz)
                }
            });
        });
        function fill2(réf, fhz) {
            var chartTOP10A = document.getElementById('TOP10');
            var myChartTOP10A = echarts.init(chartTOP10A);
            var optionTOP10A;
            optionTOP10A = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [{
                    type: 'value'
                }
                ],
                yAxis: [
                    {
                        type: 'category',
                        data: réf,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                series: [
                    {
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        color: '#ff1744',
                        name: 'Alertes',
                        type: 'bar',
                        barWidth: '60%',
                        data: fhz
                    }
                ]
            };
            myChartTOP10A.setOption(optionTOP10A);
            myChartTOP10A.resize();
        };

//rose chart 
            var chartRoze = document.getElementById('rose');
            var myChartRoze = echarts.init(chartRoze);
            var optionRose;

            optionRose = {
                tooltip: {
                    trigger: 'item'
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                series: [
                    {
                        name: 'Zones de Kit',
                        type: 'pie',
                        radius: [40, 150],
                        center: ['50%', '50%'],
                        roseType: 'area',
                        itemStyle: {
                            borderRadius: 8
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        data:[
                            
                            { value: "{{KHM}}", name: 'Kit HAM'},
                            { value: "{{KH1}}", name: 'Kit HC1'},
                            { value: "{{KH2}}", name: 'Kit HC2'},
                            { value: "{{PCI}}", name: 'Kit PCI'},
                            { value: "{{KPO}}", name: 'Kit Portes'},
                            { value: "{{MV34}}", name: 'Kit MV3/4'},
                            { value: "{{MV2}}", name: 'Kit MV2'},
                            { value: "{{KTB}}", name: 'Kit TAR-BERCEAU'},
                            { value: "{{POM}}", name: 'Kit POM'},
                            { value: "{{KK7}}", name: 'Kit K7 GMV'},
                            { value: "{{PSP}}", name: 'Kit PSP'},
                           
                            
                        ]
                    }
                ]
            };

            





















myChartDoun.setOption(optionDOU);
myChartNB.setOption(optionNBJ);
myChart2.setOption(option2);    
myChart3.setOption(option3);    
myChart.setOption(option);
myChartRoze.setOption(optionRose);
window.addEventListener('resize', function () {
        myChart.resize();
        myChart2.resize();
        myChart3.resize();       
        myChartDoun.resize();
        myChartNB.resize();
        myChartRoze.resize();
            myChartRoze.resize();


    });
  </script>
{% endblock javascript %}