{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid">

<h3 class="text-dark mb-0">TABLEAU DE BORD</h3>


<!--KPI Gestion de Stock-->

<!--Les Gauges-->
<div class="row">
    <div class="col-sm-3 " >
        
            <div>
                <div class="chart-area" id="gauge1" style="width: 100%; min-height: 100px" ></div>
            </div>
    </div>

    <div class="col-sm-3 ">
        <div>
            <div class="chart-area" id="gauge2" style="width: 100%; min-height: 100px"></div>
        </div>
    </div>
    
    <div class="col-sm-6 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">ALERTES</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="DOA" style="width: 100%; min-height: 200px"></div>
            </div>
        </div>
    </div>
        
    
</div>
    
    
<!--Doughnut et linear chart-->
<div class="row">
    <div class="col-sm-7">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Zones de Kits</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="rose" style="width: 100%; min-height: 200px"></div>
            </div>
        </div>
    </div>


    <div class="col-sm-5">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Suivi des Alertes</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="SDA" style="width: 100%; min-height: 200px"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Evolution des Alertes</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="EVDA" style="width: 100%; min-height: 200px"></div>
            </div>

        </div>
    </div>

    <div class="col-sm-6 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">TOP 10 des Alertes</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="TOP10" style="width: 100%; min-height: 200px"></div>
            </div>
    
        </div>
    </div>
</div>

<!-- -->


<!--KPI Magasin Débord -->

<div class="row">
    <div class="col-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Entrées/Sorties Magasin Débord</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="ES7" style="width: 100%; min-height: 400px" ></div>
            </div>
        </div>

    </div>
 
</div>
<!-- BAR CHART nombre de bac/j-->
<div class="row">
    <div class="col-sm-12 ">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">Nombre de Bac journaliére</h6>
            </div>
            <div class="card-body">
                <div class="chart-area" id="BACJ"></div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">TOP 5 Entrées</h6>
            </div>
                <div class="card-body">
                    <div class="chart-area"  id="top5E"></div>
                </div>
            
        </div>
    </div>
    
    <div class="col-sm-6 ">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">TOP 5 Sorties</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area" id="top5S"></div>
                </div>
        
            
            </div>
    </div>
    
</div>


<!--fin KPI Magasin Débord -->








{% endblock %}

{% block javascript %}
<script src="{% static 'js/echarts.js'%}" charset="utf-8"></script>

  <script  type="text/javascript">
// les entrées et les sorties magasin Débord
    $(function () {
        $.ajax({
            url: '{% url "GA_UEP:ESdebord" %}',
            success: function (data) {
                 fill3(data.form, data.EN, data.SO)

            }
        });
    });
function fill3(form, EN, SO){
    var chartDom = document.getElementById('ES7');
    var myChart = echarts.init(chartDom);
    var option;
    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Entrée', 'Sortie']
        },
         grid: {
            left: '3%',
            right: '7%',
            bottom: '5%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: form,
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: 'Entrée',
                color:"lawngreen",
                type: 'line',
                data: EN,
            },
            {
                name: 'Sortie',
                color: "crimson",
                type: 'line',
                data: SO,
            },
        ]
    };
    myChart.setOption(option);
    window.addEventListener('resize', function () {
        myChart.resize();

    });

};


//top5 entrees
    
    $(function () {
            $.ajax({
                url: '{% url "GA_UEP:Top5entree" %}',
                success: function (data) {
                    fill6(data.réfe, data.fhze)
                }
            });
        });
    function fill6(réfe, fhze) { 
    var chartDom2 = document.getElementById('top5E');
    var myChart2 = echarts.init(chartDom2);
    var option2;

    option2 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'value'
        }

        ],
        yAxis: [
            {
                type: 'category',
                data: réfe,


                axisTick: {
                    alignWithLabel: true
                }
            }

        ],
        series: [

            {
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                color: 'lawngreen',
                name: 'Fréquence',
                type: 'bar',
                barWidth: '60%',
                data: fhze
            }
        ]
    }; myChart2.setOption(option2);
            window.addEventListener('resize', function () {
                myChart2.resize();

            });
};
    
//top5 sorties
    $(function () {
        $.ajax({
            url: '{% url "GA_UEP:Top5sortie" %}',
            success: function (data) {
                fill5(data.réfs, data.fhzs)
            }
        });
    });
    function fill5(réfs, fhzs) {
    var chartDom3 = document.getElementById('top5S');
    var myChart3 = echarts.init(chartDom3);
    var option3;

    option3 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'value'
        }

        ],
        yAxis: [
            {
                type: 'category',
                data: réfs,


                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        series: [

            {
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                color: '#ef5350',
                name: 'Fréquence',
                type: 'bar',
                barWidth: '60%',
                data: fhzs 
            }
        ]
    }; myChart3.setOption(option3);
            window.addEventListener('resize', function () {
                myChart3.resize();

            });
    };
//les gauges
function createGauje(divId, datai,name,colorf,max, formatter) {
        var gaujeDom = document.getElementById(divId);
        var mygauje = echarts.init(gaujeDom)
        var option4;
        option4 = {
             series: [{
                type: 'gauge',
                min:0,
                max:max,
                pointer: {
                     itemStyle: {
                         color: 'auto'
                     }
                 },
                progress: {
                    show: false,
                    width: 18
                },
                axisLine: {
                    lineStyle: {
                        width: 18,
                        color: colorf
                    }
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    length: 10,
                    lineStyle: {
                    width: 1,
                    }
                },
                axisLabel: {
                    distance: 19,
                    fontSize: 10
                },
                
                title:{
                    show:true,
                    offsetCenter:[0,'-130%'],
                    fontSize: 15,
                    color:"#4e73df"
                },
                detail: {
                    valueAnimation: true,
                    fontSize: 28,
                    offsetCenter: [0, '80%'],
                    formatter: formatter ,
                    color:'auto'
                },
                data: [{
                    value: datai,
                    name:name,
                    fontSize: 28,
                }]
            }]
        }
        option4 && mygauje.setOption(option4);
        window.addEventListener('resize', function () {         
        mygauje.resize();
    });
    };
createGauje('gauge1', ['{{TAlertes}}'],"Traitement des Alertes", [[0.3, '#1cc88a'], [0.5, '#f6c23e'], [1, '#e74a3b']],120, '{value} min');
createGauje('gauge2', ['{{RAlertes}}'], "Remontée d'Alerte", [ [0.8, '#e74a3b'],[0.9, '#f6c23e'],[1, '#1cc88a']],100, '{value} %');


//Nombre de Bac journaliere 
    $(function () {
        $.ajax({
            url: '{% url "GA_UEP:NBJdebord" %}',
            success: function (data) {
                fill4(data.dates, data.NBJ)

            }
        });
    });
function fill4(dates, NBJ) {

    var chartNBJ = document.getElementById('BACJ');
    var myChartNB = echarts.init(chartNBJ);
    var option;

    optionNBJ = {
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
         tooltip: {
            trigger: 'axis',
            axisPointer: {            
                type: 'shadow'       
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: dates
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            color:'orange',
            data: NBJ,
            type: 'line'
        }]
    };
    
    myChartNB.setOption(optionNBJ);
    window.addEventListener('resize', function () {
        myChartNB.resize();

    });
};
//Doughnut Alertes 
    var chartDoun = document.getElementById('DOA');
    var myChartDoun = echarts.init(chartDoun);
    var option;
    optionDOU = {
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            top: 'bottom',
            left: 'center'
        },
        series: [
            {
                center: ['50%', '40%'],
                name: 'Alertes',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 2
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '15',
                        fontWeight: 'bold'
                    }
                },
                data: [
                    { value: "{{alertCK}}", name: 'Alerttes CK:{{alertCK}}' },
                    { value:  "{{Train}}", name: 'Sortie Train: {{Train}}' },
                    { value:  "{{alertDébord}}", name: 'Alertes Débord: {{alertDébord}}' },
                    { value:  "{{FLC}}", name: 'FLC: {{FLC}}' },
                    { value:  "{{anticipations}}", name: 'Anticipations: {{anticipations}}' },
                    { value:  "{{Livré}}", name: 'Livré: {{Livré}}' }
                ],
                labelLine: {
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                },
            }
        ]
    };
//Suivi linear Alertes 
    $(function () {
        $.ajax({
            url: '{% url "GA_UEP:suiviAlertes" %}',
            success: function (data) {
                fill(data.dates, data.valeures)
            }
        });
    });
function fill(dates, vals) {
            var chartLA = document.getElementById('SDA');
            var myChartLA = echarts.init(chartLA);
            var optionLA;
            optionLA = {
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                color: 'crimson',
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: dates,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: 'Alertes',
                        type: 'bar',
                        barWidth: '60%',
                        data: vals,
                         label: {
                            show: true,
                            position: 'inside'
                        },
                    },
                  
                ]
            };
    myChartLA.setOption(optionLA);
    window.addEventListener('resize', function () {
        myChartLA.resize();
    });
            
        };

//Evolution Des Alertes
    $(function () {
            $.ajax({
                url: '{% url "GA_UEP:evolutionAlertes" %}',
                success: function (data) {
                    fill1(data.dates, data.antici, data.livré, data.train, data.flct)

                }
            });
        });
        function fill1(dates, antici, livré, train, flct) {
            var chartEVDA = document.getElementById('EVDA');
            var myChartEVDA = echarts.init(chartEVDA);
            var optionEVDA;

            optionEVDA = {
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['Anticipations', 'Livré', 'Sortie Train', 'FLC_T']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: dates,

                },
                series: [
                    {
                        name: 'Anticipations',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: antici
                    },
                    {
                        name: 'Sortie Train',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: train
                    },
                    {
                        name: 'Livré',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: livré
                    },
                    {
                        name: 'FLC_T',
                        type: 'bar',
                        stack: 'total',
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: flct
                    },



                ]
            };
            myChartEVDA.setOption(optionEVDA);
            window.addEventListener('resize', function () {
                myChartEVDA.resize();

            });

            
        };
//Top 10 des Alertes:
     $(function () {
            $.ajax({
                url: '{% url "GA_UEP:Top10Alertes" %}',
                success: function (data) {
                    fill2(data.réf, data.fhz)
                }
            });
        });
        function fill2(réf, fhz) {
            var chartTOP10A = document.getElementById('TOP10');
            var myChartTOP10A = echarts.init(chartTOP10A);
            var optionTOP10A;
            optionTOP10A = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [{
                    type: 'value'
                }
                ],
                yAxis: [
                    {
                        type: 'category',
                        data: réf,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                series: [
                    {
                        label: {
                            show: true
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        color: '#ff1744',
                        name: 'Alertes',
                        type: 'bar',
                        barWidth: '60%',
                        data: fhz
                    }
                ]
            };
            myChartTOP10A.setOption(optionTOP10A);
            window.addEventListener('resize', function () {

               myChartTOP10A.resize();
            });
           
        };

//rose chart 
            var chartRoze = document.getElementById('rose');
            var myChartRoze = echarts.init(chartRoze);
            var optionRose;

            optionRose = {
                tooltip: {
                    trigger: 'item'
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                series: [
                    {
                        name: 'Zones de Kit',
                        type: 'pie',
                        radius: [40, 150],
                        center: ['50%', '50%'],
                        roseType: 'area',
                        itemStyle: {
                            borderRadius: 8
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        data:[
                            
                            { value: "{{KHM}}", name: 'Kit HAM: {{KHM}}'},
                            { value: "{{KH1}}", name: 'Kit HC1: {{KH1}}'},
                            { value: "{{KH2}}", name: 'Kit HC2: {{KH2}}'},
                            { value: "{{PCI}}", name: 'Kit PCI: {{PCI}}'},
                            { value: "{{KPO}}", name: 'Kit Portes: {{KPO}}'},
                            { value: "{{MV34}}", name: 'Kit MV3/4: {{MV34}}'},
                            { value: "{{MV2}}", name: 'Kit MV2: {{MV2}}'},
                            { value: "{{KTB}}", name: 'Kit TAR: {{KTB}}'},
                            { value: "{{POM}}", name: 'Kit POM: {{POM}}'},
                            { value: "{{KK7}}", name: 'Kit K7 GMV: {{KK7}}'},
                            { value: "{{PSP}}", name: 'Kit PSP: {{PSP}}'},
                           
                            
                        ]
                    }
                ]
            };

            
myChartDoun.setOption(optionDOU);


  

myChartRoze.setOption(optionRose);
window.addEventListener('resize', function () { 
        myChartDoun.resize();
        myChartRoze.resize();
        
    });




  </script>
{% endblock javascript %}