{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="text-center mt-5">
<h1 class="display-6">Bonjour a Stellantis </h1>
</div>

<div class="container-fluid">
    <div class="text-center mt-5">
            <img src="{% static 'img/Homelogo.png' %}" class="img-fluid rounded" alt="Stellantis factory image">

    </div>
</div>
</div>

{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        var supername = $("#supername").text();
       

        if (supername === 'Youssef' || supername ==='khalid') {
            console.log(supername)
           
        }
        else{
              $('#dasha').addClass('disabled');
            
        }
        

    });

</script>
{% endblock javascript %}